<div class="container mt-5">
  <table class="table table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Celular</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of cliente">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.celular }}</td>
        <td>{{ cliente.email }}</td>
        <td>
          <a class="btn btn-outline-dark">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
